body {
  padding-left: 8em;
  padding-right: 8em;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: system-ui;
  background: #eef2ff;
}

#dispatcherform {
  padding: 5em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login {
  position: relative;
  float: right;
  margin-right: -20px;
}

.gps {
  height: 380px;
  padding-top: 20px;
  margin-left: -15px;
  position: relative;
}

.label {
    margin-left: 5px;
}
